[submodule "themes/github-style"]
	path = themes/github-style
	url = git@github.com:MeiK2333/github-style.git
[submodule "themes/slim"]
	path = themes/slim
	url = git@github.com:zhe/hugo-theme-slim.git
